@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.container {
  background-color: hsl(216deg 100% 97.06%);
  height: 100vh;
  padding: 10px;
  display: grid;
  place-items: center;
  width: 100%;
}
h1,
h3,
p {
  font-family: "Ubuntu";
}
.card {
  width: min(100%, 1000px);
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 320px 1fr;
  height: min(90%, 700px);
  box-shadow: 10px 10px 80px -10px #0000001a;
  overflow: hidden;
  background-color: #fff;
}
@media (max-width: 800px) {
  .card {
    grid-template-columns: 1fr;
    height: 100%;
    padding: 0;
    border-radius: 0;
    position: relative;
    isolation: isolate;
    background-color: var(--primary-100);
  }
}
@media (max-width: 1000px) {
  .g {
    grid-template-columns: 270px 1fr;
    padding: 0.5rem;
  }
}
.steps {
  padding: 3rem 2rem;
  border-radius: inherit;
  background: url("https://adramelech-multi-step-form.netlify.app/assets/bg-sidebar-desktop.e6d2744a.svg")
    no-repeat center/cover;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: auto;
}

@media (max-width: 1000px) {
  .steps {
    padding: 2rem 1rem;
  }
}

@media (max-width: 800px) {
  .steps {
    padding: 2rem 1rem;
    flex-direction: row;
    background-image: url("https://adramelech-multi-step-form.netlify.app/assets/bg-sidebar-mobile.f8e29a05.svg");
    position: absolute;
    width: 100%;
    top: 0;
    height: 16rem;
    z-index: -1;
  }
}

@media (max-width: 1000px) {
  .steps {
    padding: 2rem 1rem;
  }
}

.details-container {
  padding: 4rem 2rem 2rem;
  max-width: 600px;
  width: 100%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 2rem;
}

@media (max-width: 1000px) {
  .details-container {
    padding: 4rem 1rem 2rem;
  }
}

@media (max-width: 800px) {
  .details-container {
    margin-top: 8rem;
  }
}
.details {
  flex: 1;
  overflow: auto;
}

.details {
  padding: 2rem;
  margin-inline: 1rem;
  background-color: white;
  border-radius: 1rem;
  flex: initial;
  box-shadow: 10px 10px 80px -10px #0000001a;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}

input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 0.5rem;
  background-color: hsl(231, 100%, 99%);
  outline: none;
  font-weight: 500;
}
.btns {
  display: flex;
  margin-top: auto;
}
@media (max-width: 800px) {
  .btns {
    background-color: #fff;
    padding: 1rem;
  }
}
.btns {
  display: flex;
  justify-self: flex-end;
}
.button {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  background-color: hsl(213, 96%, 18%);
}
